<div class='post'>
  <h2>{{ title }}</h2>
  <div class='body'>{{{ body }}}</div>
  <div class='created-at'>Created At: {{ createdAt }}</div>
  <div class='created-at'>Formatted Created At: {{ createdAtDisplay }}</div>
  <div class='views'>{{ viewCount }} Views</div>
  <div class='views'>{{ commentCount }} Comments</div>
  <div class='total'>{{ totalActivity }} Total Activity</div>
</div>